---
const { width } = Astro.props
---

<div class={`pack-logo ${width}`}>
	<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 80 83">
		<path
			fill="currentColor"
			fillRule="evenodd"
			d="M49.505 55.328c-.228.22-.636.074-.636-.228l-.036-14.319c0-.37-.333-.672-.743-.672h-8.547c-.41 0-.743.301-.743.672v3.023a24.362 24.362 0 00-2.842-1.783.695.695 0 00.277-.32c.851-2.027 1.729-3.99 2.456-6 .375-1.04.918-1.427 2.142-1.416 5.757.053 11.515.04 17.273.01 1.082-.007 1.67.27 2.035 1.278.743 2.06 1.646 4.071 2.51 6.123a.722.722 0 00.48.407C59.119 46.089 51.71 53.21 49.505 55.328zm-14.18 13.686a.83.83 0 00-1.01.065c-6.746 6.05-15.823 4.555-20.32.403-5.177-4.78-5.215-12.81-.103-17.662 4.127-3.917 13.194-6.074 20.44.303a.825.825 0 001.002.063l3.47-2.404v21.646l-3.48-2.414zM16.16 26.092c.665 0 1.229.002 1.793-.001 2.66-.015 5.326.056 7.98-.064 2.699-.122 5.16-.918 7.192-2.201l-6.776 15.29c-3.69-.365-7.453.06-10.976 1.276V26.799c0-.39.355-.708.787-.707zm-.677-15.963c0-.389.346-.701.775-.706 2.951-.032 5.902-.219 8.793.083 2.518.264 3.978 2.327 3.899 4.465-.079 2.138-1.682 4.025-4.22 4.242-2.73.234-5.5.088-8.47.063-.428-.004-.777-.317-.777-.706v-7.44zm27.444 15.407l5.81-14.303c.24-.591 1.164-.593 1.407-.002l5.882 14.301c.182.443-.179.917-.7.917H43.63c-.52 0-.883-.47-.703-.913zm36.892 55.56L58.851 58.99a.629.629 0 01.034-.911l18.358-16.902c.463-.427.127-1.153-.534-1.15l-3.78.011c-1.32-2.993-2.61-5.919-3.901-8.839-4.34-9.812-8.672-19.627-13.045-29.428-.337-.755-.367-1.806-1.863-1.771-3.283.077-6.57.03-9.937.026-.306 0-.585.169-.699.427L38.572 11.54C37.376 5.043 31.488 1.084 25.151 1.02 19.108.956 13.066.999 7.025 1.003c-.325 0-.65.018-.983.037-.41.025-.73.334-.73.707V46.53c0 .14.047.266.122.375-8.019 8.822-7.15 21.812 2.513 29.788 8.733 7.208 21.944 7.256 30.854.746v3.953c0 .371.333.672.743.672h8.727c.41 0 .743-.3.743-.672V64c0-.631.873-.914 1.315-.426l.01.01c5.235 5.797 10.487 11.582 15.683 17.409.798.895 1.624 1.293 2.91 1.243 2.37-.092 4.747-.026 7.122-.026h3.2c.636 0 .978-.678.564-1.115z"
			clipRule="evenodd"></path>
	</svg>
</div>
