---
const { width } = Astro.props
---

<div class={`spacebox-stars ${width}`}>
	<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 601 599">
		<path
			fill="currentColor"
			d="M579.3 299.533l-141.647-19.677C376.656 271 328.47 222.79 319.614 161.817L299.937 20.17c-.995-7.861-12.787-7.861-13.782 0l-19.677 141.647C257.622 222.814 209.412 271 148.439 279.856L6.792 299.533c-7.861.995-7.861 12.787 0 13.782l141.647 19.677c60.997 8.856 109.183 57.067 118.039 118.039l19.677 141.647c.995 7.862 12.787 7.862 13.782 0l19.677-141.647c8.856-60.997 57.067-109.183 118.039-118.039L579.3 313.315c7.861-.995 7.861-12.787 0-13.782z"
		></path>
		<path
			fill="currentColor"
			d="M388.789 110.815l51.583 7.134a51.264 51.264 0 0143.358 43.358l7.133 51.583c.558 3.299 4.95 3.299 5.484 0l7.133-51.583a51.264 51.264 0 0143.358-43.358l51.583-7.134c3.3-.558 3.3-4.949 0-5.483l-51.583-7.133A51.264 51.264 0 01503.48 54.84l-7.133-51.583c-.558-3.3-4.95-3.3-5.484 0l-7.133 52.14a51.264 51.264 0 01-43.358 43.359l-51.583 7.133c-3.3 0-3.3 4.392 0 4.95v-.025zM157.391 475.537l-28.388-4.052c-12.423-1.772-22.055-11.404-23.826-23.827l-4.052-28.387c-.243-1.771-2.548-1.771-2.79 0l-4.052 28.387c-1.772 12.423-11.404 22.055-23.827 23.827l-28.387 4.052c-1.772.242-1.772 2.547 0 2.79l28.387 4.052c12.423 1.771 22.055 11.403 23.826 23.826l4.052 28.388c.243 1.771 2.548 1.771 2.791 0l4.052-28.388c1.771-12.423 11.403-22.055 23.826-23.826l28.388-4.052c1.771-.243 1.771-2.548 0-2.79z"
		></path>
	</svg>
</div>
