---
---

<div class="subscribe-form-outer py-12">
    <div class="subscribe-form-inner max-w-[620px] mx-auto">
        <h2 class="text-2xl lg:text-3xl text-sb-pear tracking-wide font-archivo-expanded uppercase">Let's Keep In Touch.</h2>
        <p class="text-sb-foam font-normal text-sm leading-tight mt-2 mb-3">Stay up-to-date with the latest trends in headless e-commerce! Subscribe to our newsletter to learn more about how Spacebox is revolutionizing headless storefronts.</p>
        <form id="subscribe" class="flex items-center gap-x-6 w-full">
            <label for="email" class="sr-only">Email:</label>
            <input class="h-[50px] bg-sb-foam px-2 w-2/3" type="email" name="email" id="email" placeholder="Enter your email address" />

            <input class="h-[50px] bg-sb-pear text-sb-jet-black text-sm uppercase font-archivo-expanded w-1/3 hover:bg-sb-green hover:text-white cursor-pointer" type="submit" value="Subscribe" />
        </form>
        <p class="text-sb-foam-700 font-normal text-xs leading-tight mt-2">We do not sell or share your data. Period. Unsubscribe at any time.</p>

    </div>
    <div class="far-out flex items-center justify-center mx-auto text-center py-24">
        <h2 class="text-4xl lg:text-7xl text-sb-orange tracking-wider font-archivo-expanded uppercase">Far Out.</h2>
    </div>
</div>
