---
import MainLayout from '@layouts/MainLayout.astro'
---
<MainLayout>
<div class="content-outer bg-sb-space-blue py-12 min-h-[500px]">
    <div class="content-inner">
        <h1 class="mt-6 font-archivo-expanded text-sb-orange">Content Here.</h1>
        <p class="font-karla text-sb-foam">
            Lorem ipsum dolor sit amet, eos ad adhuc minim possim. Cu phaedrum
            intellegat eum. Persius eligendi est in, vix iriure splendide ad.
            Sed doctus detraxit legendos eu, quo eu mollis tamquam. Populo
            consequat efficiendi vix in.
        </p>
        <h2 class="text-3xl lg:text-4xl font-archivo-expanded text-sb-orange mt-6">
            More Content Here.
        </h2>
        <h2 class="text-3xl lg:text-4xl font-archivo-expanded text-sb-orange my-6">
            More Content Here.
        </h2>
    </div>
</div>
</MainLayout>
