---
import MainLayout from '@layouts/MainLayout.astro'
---

<MainLayout>
	<div class="content-outer min-h-[500px] bg-sb-space-blue py-12">
		<div class="content-inner">
			<h1 class="bg-space-blue-700 mt-6 font-archivo-expanded text-sb-orange">Content Here.</h1>
			<p class="mb-2 font-karla text-sb-foam">
				Lorem ipsum dolor sit amet, eos ad adhuc minim possim. Cu phaedrum intellegat eum. Persius
				eligendi est in, vix iriure splendide ad. Sed doctus detraxit legendos eu, quo eu mollis
				tamquam. Populo consequat efficiendi vix in.
			</p>
			<h2 class="mt-6 font-archivo-expanded text-3xl text-sb-orange lg:text-4xl">
				More Content Here.
			</h2>
			<h2 class="my-6 font-archivo-expanded text-3xl text-sb-orange lg:text-4xl">
				More Content Here.
			</h2>
			<div class="mx-auto max-w-[1000px]">
				Lorem ipsum dolor sit amet, eos ad adhuc minim possim. Cu phaedrum intellegat eum. Persius
				eligendi est in, vix iriure splendide ad. Sed doctus detraxit legendos eu, quo eu mollis
				tamquam. Populo consequat efficiendi vix in. Facer tempor has cu, ei nam facer accusam
				praesent, mundi corrumpit at vis. Vim cu tale quodsi molestiae, eu ius diam neglegentur,
				bonorum platonem qui ad. Option suscipiantur ne per. No cum animal aliquid moderatius, posse
				primis pri ne, vim nusquam perfecto tacimates ea. Pri appetere efficiantur in, no vis
				malorum nostrum.
			</div>
		</div>
	</div>
</MainLayout>
