---
import MainLayout from '@layouts/MainLayout.astro'
import PageWrap from '@layouts/PageWrap.astro'
---

<style>
	/* reset */
	#fs-frm input,
	#fs-frm select,
	#fs-frm textarea,
	#fs-frm fieldset,
	#fs-frm optgroup,
	#fs-frm label,
	#fs-frm #card-element:disabled {
		font-family: inherit;
		font-size: 100%;
		border: none;
		border-radius: 0;
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
	}
	#fs-frm label,
	#fs-frm legend,
	#fs-frm ::placeholder {
		font-size: 1rem;
		margin-bottom: 0.75rem;
		padding-top: 0.2rem;
		display: flex;
		align-items: baseline;
	}

	/* border, padding, margin, width */
	#fs-frm input,
	#fs-frm select,
	#fs-frm textarea,
	#fs-frm #card-element {
		border: 1px solid rgba(0, 0, 0, 0.2);
		background-color: rgba(255, 255, 255, 0.9);
		padding: 0.5em 1rem;
		margin-bottom: 1.5rem;
	}
	#fs-frm input:focus,
	#fs-frm select:focus,
	#fs-frm textarea:focus {
		background-color: white;
		outline-style: solid;
		outline-width: thin;
		outline-color: gray;
		outline-offset: -1px;
	}
	#fs-frm [type='text'],
	#fs-frm [type='email'] {
		width: 100%;
	}
	#fs-frm [type='button'],
	#fs-frm [type='submit'],
	#fs-frm [type='reset'] {
		width: auto;
		cursor: pointer;
		-webkit-appearance: button;
		-moz-appearance: button;
		appearance: button;
	}
	#fs-frm [type='button']:focus,
	#fs-frm [type='submit']:focus,
	#fs-frm [type='reset']:focus {
		outline: none;
	}
	#fs-frm [type='submit'],
	#fs-frm [type='reset'] {
		margin-bottom: 0;
	}
	#fs-frm select {
		text-transform: none;
	}

	#fs-frm input,
	#fs-frm [type='text'],
	#fs-frm [type='email'] {
		font-size: 1.4rem !important;
		color: #353535;
		font-weight: 500;
	}

	#fs-frm textarea {
		font-size: 1.2rem !important;
		color: #353535;
		font-weight: 400;
	}

	#fs-frm [type='checkbox'] {
		-webkit-appearance: checkbox;
		-moz-appearance: checkbox;
		appearance: checkbox;
		display: inline-block;
		width: auto;
		margin: 0 0.5em 0 0 !important;
	}

	#fs-frm [type='radio'] {
		-webkit-appearance: radio;
		-moz-appearance: radio;
		appearance: radio;
	}

	/* address, locale */
	#fs-frm fieldset.locale input[name='city'],
	#fs-frm fieldset.locale select[name='state'],
	#fs-frm fieldset.locale input[name='postal-code'] {
		display: inline;
	}
	#fs-frm fieldset.locale input[name='city'] {
		width: 52%;
	}
	#fs-frm fieldset.locale select[name='state'],
	#fs-frm fieldset.locale input[name='postal-code'] {
		width: 20%;
	}
	#fs-frm fieldset.locale input[name='city'],
	#fs-frm fieldset.locale select[name='state'] {
		margin-right: 3%;
	}
</style>

<MainLayout>
	<div class="form-page-outer bg-sb-space-blue-700">
		<PageWrap>
			<div class="form-page-inner wrap-md mx-auto flex flex-col py-12 px-6 lg:px-0">
				<header class="page-header">
					<h1 class="page-title mb-4 text-3xl uppercase tracking-wider text-sb-pear lg:text-4xl">
						Contact Us
					</h1>
				</header>
				<form
					id="fs-frm"
					name="simple-contact-form"
					accept-charset="utf-8"
					action="https://formspree.io/f/mdorjpkw"
					method="POST"
				>
					<label for="full-name" class="mb-2 text-lg font-medium text-sb-pear">Full Name:</label>
					<input type="text" name="name" id="full-name" placeholder="First and Last" required="" />
					<label class="mb-2 text-lg font-medium text-sb-pear">
						Email:
						<input type="email" name="email" placeholder="me@domain.com" required="" />
					</label>
					<label for="telephone" class="mb-2 text-lg font-medium text-sb-pear"
						>Telephone Number (Optional):</label
					>
					<input type="telephone" name="telephone" id="telephone" placeholder="(###) ###-####" />
					<label for="subject" class="mb-2 text-lg font-medium text-sb-pear">Subject:</label>
					<input type="text" name="_subject" id="subject" placeholder="Subject" required="" />
					<label class="mb-2 text-lg font-medium text-sb-pear">
						Message:
						<textarea
							name="message"
							placeholder="All systems nominal. We are go for launch."
							required=""></textarea>
					</label>
					<!-- your other form fields go here -->
					<input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission" />
					<button class="btn-primary !w-full bg-sb-green !text-sm lg:!text-xl" type="submit"
						>Send Us A Message</button
					>
				</form>
			</div>
		</PageWrap>
	</div>
</MainLayout>
