---
import MainLayout from '@layouts/MainLayout.astro'
import PageWrap from '@layouts/PageWrap.astro'

import { Content as Content } from '@content/pages/what-we-do.mdx'

const pageData = {
	title: 'What We Do',
	bgColor: 'bg-sb-space-blue',
	slug: 'what-we-do'
}
---

<style>
	.stack-wrap {
		place-self: self-start;
	}
</style>

<MainLayout>
	<PageWrap pageData={pageData}>
		<section
			class="content-outer content-grid full-width prose relative min-h-[500px] pb-24 pt-6 text-sb-foam"
		>
			<Content />
		</section>
	</PageWrap>
</MainLayout>
