---
import MainLayout from '@layouts/MainLayout.astro'
import PageWrap from '@layouts/PageWrap.astro'
---

<MainLayout>
	<PageWrap>
		<div class="content-outer min-h-[500px] bg-sb-space-blue py-12">
			<div class="content-inner px-4 lg:px-0">
				<h1 class="page-title mb-4 text-3xl uppercase tracking-wider text-sb-pear lg:text-4xl">
					Our Work
				</h1>
				<p class="text-sb-foam">Coming soon!</p>
			</div>
		</div>
	</PageWrap>
</MainLayout>
