---
import SpaceboxLogo from '@assets/images/SpaceboxLogoLockupLight.astro'
import Nav from './Nav.astro'
---

<header
	id="header"
	class="header sticky top-0 z-10 flex w-full items-center bg-sb-space-blue-700 px-4 lg:h-[64px] lg:px-0"
>
	<div
		id="inner-header"
		class="wrap-xl mx-auto flex flex-col items-center justify-center lg:flex-row"
	>
		<div class="nav-logo mt-3 lg:mr-12 lg:mt-0">
			<a href="/" class="flex items-center">
				<SpaceboxLogo width="w-[200px]" />
			</a>
		</div>
		<div class="nav-wrap my-3 lg:my-0">
			<Nav />
		</div>
	</div>
</header>
