---
import SpaceboxLogo from '@assets/images/SpaceboxLogoLockupLight.astro'
import SpaceboxStarsWhite from '@assets/images/SpaceboxStarsWhite.astro'
import SubscribeSimple from '@components/Subscribe/SubscribeSimple.astro'

const year = new Date().getFullYear()
---

<footer id="footer" class="relative bg-[#C1D7D2] pb-6 pt-24">
	<div class="footer-stars absolute right-0 top-0 animate-pulse-slow text-sb-foam opacity-20">
		<SpaceboxStarsWhite width="w-24 lg:w-[400px]" />
	</div>
	<div
		id="inner-footer"
		class="wrap-xl relative mx-auto flex h-full flex-col items-center justify-center px-4 text-center lg:px-0"
	>
		<div class="footer-logo mb-6">
			<a href="/" aria-label="Spacebox Home">
				<SpaceboxLogo width="w-48 lg:w-96" />
			</a>
		</div>
		<div class="footer-contact rounded-full bg-sb-space-blue px-16 py-3">
			<p>
				<a
					href="mailto:hello@spacebox.digital"
					class="text-xl text-sb-green-500 no-underline hover:text-sb-pear lg:text-2xl"
					>hello@spacebox.digital</a
				>
			</p>
		</div>
		<section class="subscribe-outer my-12">
			<section class="subscribe-inner px-6 lg:px-0">
				<SubscribeSimple />
			</section>
		</section>
		<div class="footer-copyright my-6 mt-auto">
			<p class="text-sm text-sb-space-blue-700">
				&copy; {year} Spacebox Digital LLC. All rights reserved.
			</p>
		</div>
	</div>
</footer>
