@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Archivo';
    src: url('/fonts/Archivo-Variable.woff2')
            format('woff2 supports variations'),
        url('/fonts/Archivo-Variable.woff2') format('woff2-variations');
    font-weight: 1 999;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Italic';
    src: url('/fonts/Archivo-Italic-Variable.woff2')
            format('woff2 supports variations'),
        url('/fonts/Archivo-Italic.woff2') format('woff2-variations');
    font-weight: 1 999;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Black';
    src: url('/fonts/ArchivoBlack-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Expanded';
    src: url('/fonts/ArchivoExpanded-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Expanded';
    src: url('/fonts/ArchivoExpanded-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Expanded';
    src: url('/fonts/ArchivoExpanded-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('/fonts/Karla-VariableFont.ttf')
            format('truetype supports variations'),
        url('/fonts/Karla-VariableFont.ttf') format('truetype-variations');
    font-weight: 1 999;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('/fonts/Karla-VariableFont.ttf')
            format('truetype supports variations'),
        url('/fonts/Karla-VariableFont.ttf') format('truetype-variations');
    font-weight: 1 999;
    font-style: italic;
    font-display: swap;
}



html,
body {
    height: 100%;
    color: #353535;
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
    line-height: 1.64;
}

h1,
h2,
h3 {
    font-family: 'Archivo Expanded', sans-serif;
    font-weight: 800;
    letter-spacing: 0.02rem;
}

p,
li,
span,
div,
input,
textarea,
button,
label {
    font-family: 'Karla', sans-serif;
}

a {
    text-decoration: underline;
}

.width-unset {
    width: unset;
}
.height-unset {
    height: unset;
}
.max-width-unset {
    max-width: unset;
}
.max-height-unset {
    max-height: unset;
}
.min-width-unset {
    min-width: unset;
}
.min-height-unset {
    min-height: unset;
}

.wrap-xs {
    max-width: 450px;
}

.wrap-sm {
    max-width: 600px;
}

.wrap-md {
    max-width: 900px;
}

.wrap-lg {
    max-width: 1200px;
}

.wrap-xl {
    max-width: 1400px;
}

.wrap-2xl {
    max-width: 1800px;
}

.btn-primary, .btn-primary a {
    color: #fff;
    font-family: 'Archivo Expanded', 'Archivo Black', 'Archivo', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    height: 72px;
    padding: 0 2.2rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-primary:hover {
    color: #fff;
}

.page-home #header {
    display: none;
}

.page-home.sticky-header #header {
    display: flex;
}

.page-home.sticky-header {
    margin-top: 0;
}

.sticky-header {
    margin-top: 64px;
}

.sticky-header #header {
    position: fixed;
    transition: all 0.2s ease-in-out;
}
