---
const slug = Astro.props.page
const { pageData } = Astro.props

const backgroundColor = pageData?.bgColor ? pageData?.bgColor : 'bg-sb-space-blue'

let pageSlug

if (slug) {
	pageSlug = slug
} else {
	pageSlug = pageData?.slug ? pageData.slug : ''
}
---

<div id="content" class={`page page-${pageSlug} ${pageSlug}`}>
	<main
		id="main"
		class=`main content-grid ${backgroundColor} py-6`
		role="main"
		itemscope
		itemprop="mainContentOfPage"
		itemtype="https://schema.org/Page"
	>
		<header class="article-header page-header">
			<h1
				class="entry-title page-title mb-0 font-archivo-expanded text-xl uppercase tracking-wide text-sb-pear md:text-2xl lg:text-4xl"
				itemprop="headline"
			>
				{pageData && pageData.title}
			</h1>
		</header>
		<slot />
	</main>
</div>
